@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');

body{
    font-family: 'Poppins', sans-serif;
}

.header {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}


.visit-idevia{
    top: 0;
    right: 48px;
    padding: 15px 53px;
    
}

.btn-visit{
    background-color: #fc6e51;
}

.bg-backgrd{
    background-color: #212331;
}

.text-icon1{
    color: #fc6e51;
}

.alert-track{
    background-color: #212331;
    color: #fc6e51;
    border-radius: 0;
}

.price1{
    color: white;
}

.footer {
    /* position: absolute; */
    color: black;
    /* bottom: 0; */
    width: 100%;
    /* height: 60px; */
}

.idevia1{
    color: #fc6e51
}

.component {
    max-width: 25rem;
    width: 100%;
    /* height: 15rem; */
    margin: auto;
}

.card{
    background-color: #f2f2f2;
    border: 0;
    padding: 50px 30px;
}

.input-group-append{
    border: 0;
}

.form1{
    border: 0;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.btn-t{
    background-color: white;
    color: #212331;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.smaller-dropdown{
    min-width: 3.5rem;
}

.progress-bar{
    background-color: #fc6e51;
}

a:hover {
  text-decoration: none;
}
.max-width-25 {
    width: 100%;
    max-width: 25rem;
}
@media (min-width: 768px) {
    .min-full-height{
        min-height: calc(100vh - 201px);
    }
}
@media screen and (max-width: 767px) {
    #topNav {
        padding: 0;
    }
    .header {
        background: #212331;
        color: #fff;
    }
    .min-full-height {
        margin-top: 20px;
    }
}